<div th:fragment="Project" class="frag d-flex justify-content-center align-items-center gap-3 h-100 w-100 overflow-x-hidden overflow-y-auto">
    <!-- CARD 1 -->
    <div class="main-card-container1 d-flex flex-column mb-3">
        <div class="container d-flex flex-column gap-4 h-100" >
            <!-- PROJECT NAME -->
            <div class="project-name-container shadow rounded d-flex flex-column w-100" style="flex: 1;">
                <div class="project-title rounded-top d-flex align-items-center w-100">
                    <Typography class="container-title">Project Name </Typography>
                </div>
                <div class="project-body w-100 d-flex justify-content-center align-items-center">
                    <Typography class="container-info" style="font-size: 2.5rem;" th:text="${projectInfo.proj_name}">
                    </Typography>
                </div>
            </div>
            <!-- PROJECT CODE/STATUS -->
            <div class="project-add-ons d-flex gap-3 w-100" style="flex: 0.5;">
                <div class="project-code-container shadow rounded d-flex flex-column w-50">
                    <div class="project-code-title rounded-top d-flex align-items-center">
                        <Typography class="container-title">Project code </Typography>
                    </div>
                    <div class="project-code-body d-flex align-items-center justify-content-center">
                        <span class="container-info" style="font-weight: 600; font-size:1.5rem;" th:text="${projectInfo.proj_code}"></span>
                    </div>
                </div>
                <div class="project-code-container shadow d-flex flex-column w-50 rounded">
                    <div class="project-code-title d-flex align-items-center rounded-top">
                        <Typography class="container-title">Project status </Typography>
                    </div>
                    <div class="project-code-body d-flex align-items-center justify-content-center">
                        <span class="container-info" style="font-weight: 600; font-size:1.5rem ; " th:text="${status.status_code}"></span>
                    </div>
                </div>
            </div>
            <!-- PROJECT DURATION -->
            <div class="date-desc-container d-flex align-items-center justify-content-center w-100"  style="flex: 1;">
                <div class="proj-duration-container shadow rounded d-flex flex-column h-100 w-100">
                    <div class="proj-duration rounded-top w-100 d-flex align-items-center">
                        <Typography class="container-title"> Project Duration</Typography>
                    </div>
                    <div class="date-container d-flex align-items-center justify-content-center">
                        <div class="start-date-container w-50 d-flex flex-column align-items-center justify-content-center gap-2">
                            <Typography style="font-weight: 600; font-size:1rem;">
                                START DATE
                            </Typography>
                            <Typography class="container-info" th:text="${projectInfo.start_date}">
                        </div>

                        <div class="end-date-container w-50 d-flex flex-column align-items-center justify-content-center gap-2">
                            <Typography style="font-weight: 600; font-size:1rem;">
                                END DATE
                            </Typography>
                            <Typography class="container-info" th:text="${projectInfo.end_date}">
                        </div>
                    </div>
                </div>
            </div>

            <!-- DESCRIPTION -->
            <div class="main-desc-container shadow w-100 d-flex flex-column rounded" style="flex: 2;">
                <div class="desc-title w-100 d-flex align-items-center rounded-top">
                    <Typography class="container-title"> Project Description</Typography>
                </div>
                <div class="desc-body w-100 overflow-x-hidden overflow-y-auto">
                    <div style="font-size: 1.5rem; padding: 10px;" th:text="${projectInfo.proj_desc}"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- CARD 2 -->
    <div class="main-card-container2 d-flex flex-column mb-3">
        <div class="container d-flex flex-column gap-4 h-100">
            <div class="client-name-container d-flex flex-column w-100" style="flex: 1.2;" >
                <div class="client-title d-flex align-items-center w-100">
                    <Typography class="container-title">Client </Typography>
                </div>
                <div class="client-body w-100 d-flex justify-content-center align-items-center">
                    <Typography class="container-info" style="font-size: 2.5rem;" th:text="${clientName.client_name}">
                    </Typography>
                </div>
            </div>

            <div class="main-manager-member" style="flex: 2.5;">
                <div class="manager-container">
                    <div class="manager-title">
                        <Typography class="container-title">Project Manager(s) </Typography>
                    </div>
                    <div class="manager-body">
                        <!-- MANAGER LIST-->
                        <ol class="list-group list-group-numbered">
                            <div th:each="manager_name, iterStat : ${projManager}">
                                <li class="list-group-item">
                                    <span th:text="${iterStat.count}"></span>. <span
                                        th:text="${manager_name.manager_name}"></span>
                                </li>
                            </div>
                        </ol>
                    </div>
                </div>
                <div class="member-container">
                    <div class="member-title">
                        <Typography class="container-title">Project Member(s) </Typography>
                    </div>
                    <div class="member-body overflow-y-auto overflow-x-hidden">
                        <!-- MEMBERS LIST -->
                        <ol class="list-group list-group-numbered">
                            <div th:each="member_name, iterStat : ${members}">
                                <li class="list-group-item">
                                    <span th:text="${iterStat.count}"></span>. <span
                                        th:text="${member_name.member_name}"></span>
                                </li>
                            </div>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- DEV TYPE, DEV PHASE, TECHNOLOGY -->
            <div class="dev-tech-container"  style="flex: 3;">
                <div class="accordion" id="accordionExample" style="width: 100%;">
                    <div class="accordion-item">
                        <Typography style="font-size: 30px;" class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Development Type
                            </button>
                        </Typography>
                        <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body" style="overflow-y: auto; overflow-x: hidden;">
                                <!-- LIST -->
                                <!-- <div th:each="type:${devType}" th:text="${type.dev_type_id}"></div> -->
                                <div class="field-info-chip-container">
                                    <p class="field-info-chip" th:each="type:${devType}" th:text="${type.dev_type_id}"> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <Typography style="font-size: 30px;" class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Development Phase
                            </button>
                        </Typography>
                        <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- LIST -->
                                <!-- <div th:text="${#strings.arrayJoin(devPhase.![dev_phase_name], ', ')}"></div> -->
                                <div class="field-info-chip-container">
                                    <p class="field-info-chip" th:each="phase:${devPhase}" th:text="${phase.dev_phase_name}"> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <Typography style="font-size: 30px;" class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Technology
                            </button>
                        </Typography>
                        <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- LIST -->
                                <!-- <div th:text="${#strings.arrayJoin(tech.![tech_name], ', ')}" style="border: 1px solid red;"></div> -->
                                <div class="field-info-chip-container">
                                    <p class="field-info-chip" th:each="tech:${tech}" th:text="${tech.tech_name}"></p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>