<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl project   -->
<mapper namespace="com.example.demo.dao.UserDao">

        <!-- Login -->
        <select id="getByUsername" resultType="com.example.demo.model.UserOutput">
                SELECT emp_id,
                username,
                password,
                position_id,
                dept_id,
                section_id,
                role_id,
                status_code,
                img_src
                FROM tbl_user
                WHERE username COLLATE utf8mb4_bin = #{username}
        </select>

        <select id="getUserById" parameterType="java.lang.String" resultType="com.example.demo.model.UserInfoOutput">
                SELECT 
                        users.emp_id,
                        users.username,
                        users.status_code,
                        users.img_src,
                        users.password,
                        info_master.fname,
                        info_master.mname,
                        info_master.lname,
                        position_master.position_name,
                        position_master.position_id,
                        info_master.email,
                        section_master.section_id,
                        section_master.section_name,
                        department_master.dept_id,
                        department_master.dept_name,
                        user_status.status_name,
                        users.del_flag,
                        GROUP_CONCAT(DISTINCT COALESCE(projects.proj_name, '')) AS proj_name_string, 
                        GROUP_CONCAT(DISTINCT COALESCE(role_master.role_user_level, '')) AS role_user_level_string,
                        GROUP_CONCAT(DISTINCT COALESCE(role_master.title, '')) AS user_multi_role_string
                FROM tbl_personal_info AS info_master
                INNER JOIN tbl_user AS users ON users.emp_id = info_master.emp_id
                LEFT JOIN tbl_multi_role AS multi_role ON users.emp_id = multi_role.emp_id
                LEFT JOIN tbl_role_mst AS role_master ON multi_role.role_id = role_master.role_id
                INNER JOIN tbl_position_mst AS position_master ON users.position_id = position_master.position_id
                INNER JOIN tbl_section_mst AS section_master ON users.section_id = section_master.section_id
                INNER JOIN tbl_department_mst AS department_master ON users.dept_id = department_master.dept_id
                INNER JOIN tbl_status_mst AS user_status ON users.status_code = user_status.status_code
                LEFT JOIN tbl_user_project AS tup ON tup.emp_id = info_master.emp_id
                LEFT JOIN tbl_proj_manager AS tpm ON tpm.emp_id = info_master.emp_id
                LEFT JOIN tbl_project_mst AS projects ON projects.proj_id = tup.proj_id OR projects.proj_id = tpm.proj_id
                WHERE users.del_flag = 0 AND users.emp_id = #{id}
                GROUP BY users.emp_id, users.username, users.status_code, users.img_src, users.password, info_master.fname, info_master.mname, info_master.lname, position_master.position_name, position_master.position_id, info_master.email, section_master.section_id, section_master.section_name, department_master.dept_id, department_master.dept_name, users.del_flag;
        </select>
</mapper>