.frag {
    /* border: 1px solid blue;  */
    height: 100%; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px; 
    overflow-x: hidden; 
    overflow-y: auto;
}

.main-card-container1 {
    height: 98%; 
    width: 48%; 
    display: flex; 
    flex-direction: column;
	/* border: 1px solid blue; */
}

.container1 {
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    /* gap: 5px; */
}

.project-name-container {
    height: 20%; 
    width: 100%; 
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.project-title {
    /* border: 1px solid black;  */
    height: 40%; 
    width: 100%; 
    padding: 1%; 
    background-color: #19507D;
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;
}
.project-body {
    /* border: 1px solid black;  */
    height: 60%; 
    width: 100%; 
    padding: 1%; 
    display: flex; 
    justify-content: center;
}
.proj-text {
    height: 8%; 
    width: 100%; 
}

.proj-code-status {
    height: 8%; 
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;  
    padding: 1%;
}

.date-desc-container {
	/* border: 1px solid red;  */
	display: flex; 
	flex-direction: column; 
	height: 100%; 
	gap: 10px;
}

.proj-duration-container {
    height: 40%; 
    width: 100%; 
    display: flex; 
    flex-direction: column;
    /* border: 1px solid green;  */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* lalagyan ng radius */
}

.proj-duration {
    /* border: 1px solid black;  */
    height: 23%; 
    width: 100%; 
    padding: 1%; 
    background-color: #19507D;
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;
}

.date-container {
    display: flex; 
    flex-direction: row; 
    height: 70%; 
    /* border: 1px solid black;  */
    justify-content: center; 
    align-items: center;
}

.start-date-container {
    width: 50%; 
    margin-top: 10px;
    height: 96%;
    border-right: 1px solid rgb(182, 181, 181); 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 5px;
}

.end-date-container {
    width: 50%; 
    height: 95%;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 5px;
}

.main-desc-container {
    height: 60%; 
    width: 100%; 
    display: flex; 
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.desc-title {
    height: 15%; 
    width: 100%; 
    padding: 1%; 
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;
    background-color: #19507D;
}

.desc-body {
    /* border: 1px solid red;  */
    height: 82%; 
    width: 100%; 
    overflow-x: hidden; 
    overflow-y: auto; 
    padding: 1%;
}

/* CARD 2 */
.main-card-container2 {
    height: 98%; 
    width: 48%; 
    gap: 10px; 
    /* border: 1px solid black;  */
    gap:10px; 
    display: flex; 
    flex-direction: column;
}

.client-container {
    height: 20%; 
    width: 100%; 
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.client-title {
    /* border: 1px solid black;  */
    height: 40%; 
    width: 100%; 
    padding: 1%; 
    background-color: #19507D;
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;
}

.client-body {
    /* border: 1px solid black;  */
    height: 60%; 
    width: 100%; 
    padding: 1%; 
    display: flex; 
    justify-content: center;
}

.main-manager-member {
    display: flex; 
    flex-direction: row; 
    /* border: 1px solid red;  */
    height: 35%; 
    justify-content: center; 
    gap:10px;
    
}

.manager-container {
    /* border: 1px solid black;  */
    width: 49.5%; 
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.manager-title {
    /* border: 1px solid black;  */
    height: 20%; 
    width: 100%; 
    padding: 1%; 
    background-color: #19507D;
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;
}

.manager-body {
    /* border: 1px solid red;  */
    height: 75%; 
    overflow-y: auto; 
    overflow-x: hidden; 
    padding: 1%;
}

.member-container {
    /* border: 1px solid black;  */
    width: 49.5%; 
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.member-title {
    /* border: 1px solid black;  */
    height: 20%; 
    width: 100%; 
    padding: 1%; 
    background-color: #19507D;
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;
}

.member-body {
    /* border: 1px solid red;  */
    height: 75%; 
    overflow-y: auto; 
    overflow-x: hidden; 
    padding: 1%;
}

.list-group-item {
    height: 30px;
    border-radius: 3px;
    border: none;
    padding: 2%;
}

.dev-tech-container {
    display: flex; 
    flex-direction: row; 
    /* border: 1px solid red;  */
    height: 45%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #19507D;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #ffffff;
}

.accordion-button.collapsed {
    color: #ffffff;
    background-color: #19507D;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #ffffff;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg)
}

.accordion-button.collapsed::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }